<section class="cases">
	<div class="cases__container">
		<h2 class="title cases__title"><span>Берём награды за</span> успешные кейсы</h2>
		<ul class="cases__list">
			<li class="cases__item item-cases">
				<h3 class="item-cases__title">Финвал: как мы настроили стратегию лидогенерации для продаж дорогостоящего оборудования</h3>
				<div class="item-cases__img">
					<img
						src="img/pages/prodvizhenie-saita/cases/finval.jpg"
						alt="Финвал"
					/>
				</div>
			</li>
			<li class="cases__item item-cases">
				<h3 class="item-cases__title">Кейс транспортной компании: как мы увеличили конверсию сайта в 4 раза</h3>
				<div class="item-cases__img">
					<img
						src="img/pages/prodvizhenie-saita/cases/transport-company.jpg"
						alt="Транспортная компания"
					/>
				</div>
			</li>
			<li class="cases__item item-cases">
				<h3 class="item-cases__title">Andersen: нарастили трафик из Яндекса на 73%<br />в нише оффшоров</h3>
				<div class="item-cases__img">
					<img
						src="img/pages/prodvizhenie-saita/cases/andersen.jpg"
						alt="Andersen"
					/>
				</div>
			</li>
		</ul>
	</div>
</section>
