<section class="faq">
	<div class="faq__container">
		<h2 class="title faq__title cssm up">Что мы делаем <span>в рамках [базовых] регулярных работ по поисковому продвижению</span></h2>
		<ul class="faq__list cssm down">
			<li class="faq__item item-faq">
				<div class="item-faq__number">01</div>
				<div class="item-faq__block">
					<input
						type="checkbox"
						class="item-faq__toggle"
					/>
					<div class="item-faq__question">
						<div class="item-faq__question--text">AI-техническая оптимизация</div>
						<div class="item-faq__indicator">+</div>
					</div>
					<div class="item-faq__answer">46 пунктов проверки. Это база вашего проекта. Объем страниц в индексе и его полнота, сформированные посадочные для всех групп запросов, обработка дублей и грамотная перелинковка на выгодные нам страницы и разделы — это то, что мы делаем первым этапом.</div>
				</div>
			</li>

			<li class="faq__item item-faq">
				<div class="item-faq__number">02</div>
				<div class="item-faq__block">
					<input
						type="checkbox"
						class="item-faq__toggle"
					/>
					<div class="item-faq__question">
						<div class="item-faq__question--text">AI-техническая оптимизация</div>
						<div class="item-faq__indicator">+</div>
					</div>
					<div class="item-faq__answer">46 пунктов проверки. Это база вашего проекта. Объем страниц в индексе и его полнота, сформированные посадочные для всех групп запросов, обработка дублей и грамотная перелинковка на выгодные нам страницы и разделы — это то, что мы делаем первым этапом.</div>
				</div>
			</li>
			<li class="faq__item item-faq">
				<div class="item-faq__number">03</div>
				<div class="item-faq__block">
					<input
						type="checkbox"
						class="item-faq__toggle"
					/>
					<div class="item-faq__question">
						<div class="item-faq__question--text">AI-техническая оптимизация</div>
						<div class="item-faq__indicator">+</div>
					</div>
					<div class="item-faq__answer">46 пунктов проверки. Это база вашего проекта. Объем страниц в индексе и его полнота, сформированные посадочные для всех групп запросов, обработка дублей и грамотная перелинковка на выгодные нам страницы и разделы — это то, что мы делаем первым этапом.</div>
				</div>
			</li>
			<li class="faq__item item-faq">
				<div class="item-faq__number">04</div>
				<div class="item-faq__block">
					<input
						type="checkbox"
						class="item-faq__toggle"
					/>
					<div class="item-faq__question">
						<div class="item-faq__question--text">AI-техническая оптимизация</div>
						<div class="item-faq__indicator">+</div>
					</div>
					<div class="item-faq__answer">46 пунктов проверки. Это база вашего проекта. Объем страниц в индексе и его полнота, сформированные посадочные для всех групп запросов, обработка дублей и грамотная перелинковка на выгодные нам страницы и разделы — это то, что мы делаем первым этапом.</div>
				</div>
			</li>
			<li class="faq__item item-faq">
				<div class="item-faq__number">05</div>
				<div class="item-faq__block">
					<input
						type="checkbox"
						class="item-faq__toggle"
					/>
					<div class="item-faq__question">
						<div class="item-faq__question--text">AI-техническая оптимизация</div>
						<div class="item-faq__indicator">+</div>
					</div>
					<div class="item-faq__answer">46 пунктов проверки. Это база вашего проекта. Объем страниц в индексе и его полнота, сформированные посадочные для всех групп запросов, обработка дублей и грамотная перелинковка на выгодные нам страницы и разделы — это то, что мы делаем первым этапом.</div>
				</div>
			</li>
		</ul>
		<div class="faq__bottom">
			<div class="faq__banner">Все пункты проверки формируются под ваш проект и актуализируются раз в 2 недели. Для вас весь этот процесс — прозрачный. Мы рассказываем и показываем, какие изменения вносим, зачем это делаем, и за счет чего проект растет. За это нас и любят.</div>
			<button class="faq__button">Запросить полный список работ</button>
		</div>
	</div>
</section>
