<section class="federal-brands">
	<div class="federal-brands__container">
		<h2 class="title federal-brands__title"><span>Продвигаем федеральные бренды</span></h2>
		<h2 class="title federal-brands__title federal-brands__title_mobile"><span>Ключевые клиенты</span></h2>
		<div class="federal-brands__slider">
			<div class="federal-brands__prev">
				<img
					src="img/icons/slider/arrow.svg"
					alt="prev slide"
				/>
			</div>
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide federal-brands__slide">
						<img
							src="img/federal-brands/cdek.svg"
							alt="cdek"
						/>
					</div>
					<div class="swiper-slide federal-brands__slide">
						<img
							src="img/federal-brands/rabotaru.svg"
							alt="rabotaru"
						/>
					</div>
					<div class="swiper-slide federal-brands__slide">
						<img
							src="img/federal-brands/220volt.svg"
							alt="220volt"
						/>
					</div>
					<div class="swiper-slide federal-brands__slide">
						<img
							src="img/federal-brands/2gis.svg"
							alt="2gis"
						/>
					</div>
					<div class="swiper-slide federal-brands__slide">
						<img
							src="img/federal-brands/skoda.svg"
							alt="skoda"
						/>
					</div>
					<div class="swiper-slide federal-brands__slide">
						<img
							src="img/federal-brands/bankiru.svg"
							alt="bankiru"
						/>
					</div>
				</div>
			</div>
			<div class="federal-brands__next">
				<img
					src="img/icons/slider/arrow.svg"
					alt="next slide"
				/>
			</div>
		</div>
	</div>
</section>
