<section class="media-about-us">
	<div class="media-about-us__container">
		<h2 class="title media-about-us__title"><span>Медиа о нас</span></h2>
		<div class="media-about-us__slider">
			<div class="media-about-us__prev">
				<img src="img/icons/slider/arrow.svg" alt="prev slide" />
			</div>
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide media-about-us__slide">
						<img src="img/media-about-us/sostav.svg" alt="sostav" />
					</div>
					<div class="swiper-slide media-about-us__slide">
						<img src="img/media-about-us/adindex.svg" alt="adindex" />
					</div>
					<div class="swiper-slide media-about-us__slide">
						<img src="img/media-about-us/vcru.svg" alt="vcru" />
					</div>
					<div class="swiper-slide media-about-us__slide">
						<img src="img/media-about-us/unisender.svg" alt="unisender" />
					</div>
					<div class="swiper-slide media-about-us__slide">
						<img src="img/media-about-us/workspace.svg" alt="workspace" />
					</div>
					<div class="swiper-slide media-about-us__slide">
						<img src="img/media-about-us/cossa.svg" alt="cossa" />
					</div>
				</div>
			</div>
			<div class="media-about-us__next">
				<img src="img/icons/slider/arrow.svg" alt="next slide" />
			</div>
		</div>
	</div>
</section>
