@use './functions' as *;
@import 'https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap';

:root {
	--primary-color: #00b2ff;
	--primary-hover-color: #00a1e6;
	--primary-light-color: #def5ff;
	--secondary-color: #caff3d;
	--black: #000;
	--white: #fff;
	--black-main-color: #292b32;
}

*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	border: none;
	outline: none;
}

body {
	font-family: Montserrat, sans-serif;
}

body,
html {
	min-width: 370px;
	height: 100%;
}

a {
	text-decoration: none;

	color: unset;
}

ul {
	list-style: none;
}

.lock {
	overflow-y: hidden;
}

[class*='__container'] {
	width: 100%;
	max-width: 1660px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	color: var(--primary-color);

	font-size: rem(64);
	font-weight: 700;
	line-height: 118.75%;

	span {
		color: var(--black-main-color);
	}

	@media (max-width: 767.98px) {
		font-size: rem(28);
	}
}

.button {
	cursor: pointer;
	transition: background 0.3s ease 0s;

	color: var(--white);
	border-radius: rem(12);
	background: var(--primary-color);

	font-weight: 700;

	&:hover {
		background: var(--primary-hover-color);
	}
}
