@use './functions' as *;

.cases {
	// .cases__container
	&__container {
	}

	// .cases__title
	&__title {
		margin-bottom: rem(80);
	}

	// .cases__list
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		justify-content: center;
		gap: rem(50);

		@media (max-width: 1199.98px) {
			grid-template-columns: repeat(2, 1fr);

			.item-cases:last-child {
				grid-column: span 2;
				aspect-ratio: unset;
			}
		}

		@media (max-width: 767.98px) {
			grid-template-columns: 1fr;

			.item-cases:last-child {
				grid-column: span 1;
				aspect-ratio: 511/624;
			}
		}
	}

	// .cases__item
	&__item {
	}
}

.item-cases {
	position: relative;

	display: flex;
	overflow: hidden;
	align-items: end;

	height: 100%;
	min-height: rem(300);
	max-height: rem(624);
	padding: rem(30) rem(40);

	cursor: pointer;

	border-radius: rem(20);
	border-radius: 20px;
	background: linear-gradient(180deg, rgb(0 0 0 / 0%) -61.83%, rgb(0 0 0 / 50%) 100%);
	aspect-ratio: 511/624;
	justify-self: center;

	&:hover {
		.item-cases__img {
			transform: scale(1.1);
		}
	}

	// .item-cases__title
	&__title {
		color: #ebecef;

		font-size: rem(28);
		font-weight: 700;
		line-height: 128.571%;

		@media (max-width: 767.98px) {
			font-size: rem(22);
		}
	}

	// .item-cases__img
	&__img {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;

		transition: transform 0.3s ease 0s;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	@media (max-width: 767.98px) {
		padding: rem(20);
	}
}
