@use './functions' as *;
@use './base';
@use './top-awards';
@use './media-about-us';
@use './faq';

.contextnaya-reklama {
	font-family: Montserrat, sans-serif;

	.hero {
		display: flex;
		overflow: hidden;
		align-items: center;

		min-height: 100vh;

		padding: rem(120) 0 rem(60);

		// .hero__container
		&__container {
			display: flex;
			align-items: center;
			justify-content: space-between;

			height: 100%;

			@media (max-width: 767.98px) {
				flex-direction: column-reverse;
			}
		}

		// .hero__content
		&__content {
			min-width: rem(400);

			@media (max-width: 767.98px) {
				min-width: 0;
			}
		}

		// .hero__title
		&__title {
			margin-bottom: rem(35);

			font-size: clamp(1.625rem, 1rem + 2.5vw, 4rem);
		}

		&__text {
			margin-bottom: rem(60);

			color: var(--Color-7, #636878);

			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;

			@media (max-width: 767.98px) {
				margin-bottom: rem(30);
			}
		}

		// .hero__button
		&__button {
			width: 100%;
			max-width: rem(370);
			padding: rem(19);

			font-size: rem(18);
			font-weight: 700;
		}

		// .hero__img
		&__img {
			position: relative;

			max-width: rem(615);

			&:hover {
				.hero__img-decor svg {
					rotate: -30deg;
					fill: #beebff;
					scale: 80%;
				}
			}

			img {
				width: 100%;
				height: 100%;
			}

			@media (max-width: 767.98px) {
				max-width: 80%;
				margin-bottom: rem(20);
			}
		}

		// .hero__img-decor
		&__img-decor {
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 50%;

			width: 150%;
			height: 150%;

			transform: translate(-50%, -50%);

			svg {
				width: 100%;
				height: 100%;

				transition: rotate 0.3s ease 0s, fill 0.3s ease 0s, scale 0.3s ease 0s;
				fill: #caff3d;
			}
		}

		@media (max-width: 767.98px) {
			min-height: 0;
			padding-top: rem(90);
		}
	}

	// advantages
	.advantages {
		padding-top: rem(10);
		padding-bottom: rem(120);

		// .advantages__container
		&__container {
		}

		// .advantages__list
		&__list {
			display: grid;
			gap: rem(20);
			grid-template-columns: repeat(3, 1fr);

			justify-content: center;

			@media (max-width: 991.98px) {
				grid-template-columns: repeat(2, 1fr);
				gap: rem(40);
			}

			@media (max-width: 767.98px) {
				grid-template-columns: 1fr;
			}
		}

		// .advantages__item
		&__item {
		}

		@media (max-width: 767.98px) {
			padding-top: rem(20);
			padding-bottom: rem(60);
		}
	}

	.item-advantages {
		overflow: hidden;

		&:hover {
			.item-advantages__img--decor {
				rotate: -45deg;

				svg {
					scale: 0.8;
					fill: var(--primary-color);
				}
			}
		}

		// .item-advantages__img
		&__img {
			position: relative;

			margin-bottom: rem(25);

			&--decor {
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;

				transition: rotate 0.3s ease 0s;

				svg {
					width: 120%;
					height: 120%;
					fill: var(--secondary-color);

					transition: fill 0.3s ease 0s, scale 0.3s ease 0s;
				}
			}

			img {
				max-width: rem(194);
			}
		}

		// .item-advantages__title
		&__title {
			margin-bottom: rem(35);

			color: var(--Color-6, #292b32);

			font-size: rem(36);
			font-weight: 700;

			span {
				color: var(--primary-color);
			}
		}

		&__list {
			&--item {
				position: relative;

				padding-left: rem(20);

				color: #636878;

				font-size: rem(18);

				&::before {
					position: absolute;
					top: 0;
					left: 0;

					content: '+';

					color: var(--primary-color);

					font-size: rem(20);
					font-weight: 700;
					line-height: 100%;
				}

				&:not(:last-child) {
					margin-bottom: rem(25);
				}
			}
		}

		// .item-advantages__text
		&__text {
			color: var(--Color-7, #636878);

			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;

			@media (max-width: 767.98px) {
				font-size: rem(16);
			}
		}
	}

	.steps {
		margin-bottom: rem(120);

		// .steps__container
		&__container {
		}

		// .steps__main
		&__main {
		}

		// .steps__banner
		&__banner {
		}

		.main-steps {
			position: relative;

			max-width: rem(1069);
			margin: 0 auto;

			&::before {
				position: absolute;
				top: 3%;
				left: 50%;

				width: 0;
				height: 100%;

				content: '';
				transform: translateX(-50%);

				border: 2px dashed #d1d3d9;
			}

			&__flex {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				gap: rem(68);

				padding-bottom: rem(160);
				overflow: hidden;
				@media (max-width: 767.98px) {
					gap: rem(30);
				}
			}

			// .main-steps__arrow
			&__arrow {
				position: absolute;
				z-index: 10;
				top: 0;
				left: 50%;

				width: rem(68);
				height: 100%;

				transform: translateX(-50%);

				svg {
					position: sticky;
					z-index: 10;

					top: 40%;
					left: 0;
				}

				@media (max-width: 767.98px) {
					width: rem(40);

					svg {
						width: 100%;
						height: rem(100);
					}
				}
			}
		}

		.item-main-steps {
			display: grid;
			grid-template-columns: repeat(2, 1fr);

			justify-content: space-between;
			gap: rem(68);

			margin-bottom: rem(190);

			&::after {
				position: static;

				content: '';
			}

			&:nth-child(even) {
				grid-auto-flow: column;
				direction: rtl;

				.item-main-steps__text {
					width: 100%;
					margin-left: auto;
					direction: ltr;

					span {
						justify-self: flex-end;
					}
				}

				.item-main-steps__tip {
					right: 0;
					left: unset;

					&--item {
						text-align: left;
					}
				}
			}

			&__text {
				position: relative;

				transition: color 0.3s ease 0s;

				font-size: rem(28);
				line-height: 128.571%;

				&:hover {
					cursor: pointer;

					color: #636878;

					.item-main-steps__toggle {
						span {
							&::after {
								color: var(--primary-color);
								border-color: var(--primary-color);
								background: #def5ff;
							}
						}
					}
				}

				@media (max-width: 767.98px) {
					font-size: rem(16);
				}

				@media (max-width: 479.98px) {
					font-size: rem(14);
				}
			}

			&__toggle {
				transition: color 0.3s ease 0s;

				span {
					position: relative;

					display: flex;
					align-items: center;
					gap: rem(10);

					&::after {
						position: static;

						display: flex;
						align-items: center;
						flex-grow: 0;
						flex-shrink: 0;
						justify-content: center;

						width: rem(25);
						height: rem(25);

						content: '?';
						transition: background 0.3s ease 0s, color 0.3s ease 0s, border-color 0.3s ease 0s;

						color: #636878;
						border: 1px solid var(--Color-7, #636878);
						border-radius: 50%;
						background: var(--Color-10, #f3f4f5);

						font-size: rem(16);
						font-weight: 700;

						@media (max-width: 767.98px) {
							width: rem(16);
							height: rem(16);

							font-size: rem(10);
						}
					}

					@media (max-width: 767.98px) {
						flex-direction: column;

						text-align: center;
						gap: rem(5);
					}
				}
			}

			&__tip {
				position: absolute;
				top: 200%;
				left: 0;

				width: 100%;
				max-width: rem(371);
				max-height: rem(450);
				padding: rem(15) rem(20);

				transition: opacity 0.3s ease, transform 0.3s ease;
				transform: translateY(rem(20));
				pointer-events: none;

				opacity: 0;
				color: var(--Color-6, #292b32);
				border: 1px solid var(--Color-11, #caff3d);
				border-radius: rem(8);
				background: var(--Color-11, #caff3d);

				font-size: rem(16);
				font-weight: 400;
				line-height: 150%;

				&::before {
					position: absolute;
					bottom: 100%;
					left: 69%;

					width: rem(25);
					height: rem(25);

					content: '';
					transform: translateY(50%) rotate(45deg);

					background: var(--secondary-color);
				}

				// .item-main-steps__tip--list
				&--list {
				}

				// .item-main-steps__tip--item
				&--item {
					position: relative;

					margin-bottom: rem(12);
					padding-left: rem(20);

					color: var(--black-main-color, #292b32);

					font-size: rem(16);
					font-weight: 400;
					line-height: 150%;

					&::before {
						position: absolute;
						top: 0.6em;
						left: 0;

						width: rem(3);
						height: rem(3);

						content: '';

						border-radius: 50%;
						background-color: currentcolor;
					}

					@media (max-width: 767.98px) {
						padding-left: rem(10);

						font-size: rem(12);
					}
				}

				@media (max-width: 767.98px) {
					padding: rem(10);
				}
			}

			&__checkbox:checked ~ .item-main-steps__tip {
				transform: translateY(0);
				pointer-events: auto;

				opacity: 1;
			}

			&__checkbox:checked ~ .item-main-steps__toggle {
				color: var(--primary-color);

				span {
					&::after {
						color: var(--primary-color);
						border-color: var(--primary-color);
						background: var(--secondary-color);
					}
				}
			}
		}

		.banner-steps {
			position: relative;

			display: flex;
			align-items: center;
			flex-direction: column;

			width: 100%;
			max-width: rem(1069);
			margin: 0 auto;
			padding: 0 rem(50) rem(50);

			border-radius: rem(20);
			background: var(--secondary-color);

			// .banner-steps__target
			&__target {
				// transform: translateY(-50%);
				margin-top: rem(-141);
				margin-bottom: rem(50);
			}

			// .banner-steps__text
			&__text {
				margin-bottom: rem(50);

				text-align: center;

				color: #000;

				font-size: rem(18);
				font-weight: 400;
				line-height: 155.556%;

				span {
					display: block;

					font-weight: 700;
				}
			}

			// .banner-steps__button
			&__button {
				width: 100%;
				max-width: rem(328);
				padding: rem(18);

				transition: background 0.3s ease 0s;

				border-radius: rem(12);
				background: var(--black-main-color, #292b32);

				font-size: rem(16);
				font-weight: 700;
				line-height: 125%;

				&:hover {
					color: var(--white);
					background: #636878;
				}
			}

			@media (max-width: 767.98px) {
				padding: 0 rem(15) rem(15);
			}
		}

		.button {
		}

		// .steps__title
		&__title {
			display: flex;
			align-items: center;
			gap: rem(60);

			margin-bottom: rem(60);

			@media (max-width: 767.98px) {
				gap: rem(15);
			}
		}

		// .steps__title--main
		&__title--main {
			// display: block;
			min-width: rem(440);

			color: var(--primary-color);

			@media (max-width: 991.98px) {
				min-width: unset;
			}
		}

		// .steps__title--divider
		&__title--divider {
			width: 100%;
			height: rem(1);

			background: #beebff;
		}

		// .steps__title--base
		&__title--base {
			color: #beebff;
		}

		@media (max-width: 767.98px) {
			margin-bottom: rem(60);
		}
	}

	.report {
		margin-bottom: rem(120);
		padding-top: rem(110);
		padding-bottom: rem(110);

		transition: background 0.3s ease 0s;

		background: #f3f4f5;

		&:hover {
			background: var(--secondary-color);
		}

		&__title {
			margin-bottom: rem(60);

			@media (max-width: 767.98px) {
				margin-bottom: rem(35);
			}
		}

		&__container {
			display: grid;
			align-items: center;
			grid-template-columns: 0.8fr 1.05fr;
			gap: rem(140);

			@media (max-width: 991.98px) {
				display: flex;
				flex-direction: column-reverse;
				gap: rem(40);
			}
		}

		&__slider {
			position: relative;

			width: 100%;
		}

		&__slide {
			width: rem(355);
			height: rem(575);

			transition: transform 0.5s ease, opacity 0.5s ease;
			transform: scale(1);

			opacity: 0.5;

			img {
				width: 100%;
				height: 100%;
				object-fit: fill;
			}
		}

		&__slide.swiper-slide-active {
			z-index: 2;

			transform: scale(1);

			opacity: 1;
		}

		&__bullets {
			width: max-content !important;
			padding: rem(8);

			border-radius: rem(28);
			background: var(--Color-5, #fff);
			backdrop-filter: blur(2px);

			.swiper-pagination-bullet {
				width: rem(12);
				height: rem(12);

				transition: background 0.3s ease 0s;

				opacity: 1;
				border: 1px solid #d1d3d9;
				border-radius: 50%;
				background: transparent;

				&-active {
					border: none;
					background: #caff3d;
				}
			}
		}

		&__button {
			width: 100%;
			max-width: rem(368);
			margin-bottom: rem(60);
			padding: rem(19);

			color: var(--white, #fff);

			font-size: rem(18);
			font-weight: 700;

			&:hover {
				color: var(--black-main-color);
			}

			@media (max-width: 767.98px) {
				margin-bottom: rem(35);
			}
		}

		@media (max-width: 767.98px) {
			margin-bottom: rem(60);
			padding-top: rem(60);
			padding-bottom: rem(60);
		}
	}

	.price {
		position: relative;

		overflow: hidden;

		padding: rem(140) 0;

		transition: background-color 0.3s ease 0s;

		background: none;

		background-color: var(--primary-color);
		background-image: none !important;

		&:hover {
			background: none;

			background-color: var(--secondary-color);
			background-image: none;

			.price__title {
				transition: color 0.3s ease 0s;

				color: var(--black-main-color);

				span {
					transition: color 0.3s ease 0s;

					color: var(--primary-color);
				}
			}

			.price__decor {
				transform: translate(55%, -73%) scale(1.7) rotate(-20deg);

				&--star {
					opacity: 0;
				}

				&--line {
					&_main {
						opacity: 0;
					}

					&_hover {
						opacity: 1;
					}
				}
			}
		}

		// .price__container
		&__container {
			display: grid;
			grid-template-columns: auto auto;
			gap: rem(15);

			@media (max-width: 991.98px) {
				align-items: center;
				justify-content: center;
				grid-template-columns: 1fr;
			}
		}

		// .price__title
		&__title {
			position: relative;
			z-index: 3;

			color: var(--white, #fff);

			span {
				color: var(--secondary-color);
			}
		}

		// .price__banner
		&__banner {
			position: relative;
			z-index: 3;
		}

		// .price__decor
		&__decor {
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;

			transition: transform 0.4s ease-in-out 0s;
		}

		// .price__decor--line
		&__decor--line {
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: 0;

			width: rem(847.203);
			height: rem(864.975);

			transform: translateY(50%) rotate(20deg);

			// .price__decor--line_main
			&_main {
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;

				transition: opacity 0.3s ease 0s;
			}

			// .price__decor--line_hover
			&_hover {
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;

				transition: opacity 0.3s ease 0s;

				opacity: 0;
			}
		}

		// .price__decor--rocket
		&__decor--rocket {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;

			transform: rotate(-10deg) translateX(-50%);

			img {
				position: relative;
				z-index: 2;
			}
		}

		// .price__decor--star
		&__decor--star {
			position: absolute;
			z-index: 0;
			top: 50%;
			left: 50%;

			transition: opacity 0.3s ease 0s;
			transform: translate(-50%, -50%);
		}

		@media (max-width: 767.98px) {
			padding: rem(65) 0;
		}
	}

	.title {
	}

	.banner-price {
		display: grid;

		width: 100%;
		max-width: rem(787);
		padding: rem(60);

		border-radius: rem(20);
		background: var(--white);
		grid-template-columns: repeat(2, 1fr);
		gap: rem(30);

		// .banner-price__left
		&__left {
		}

		// .banner-price__title
		&__title {
			margin-bottom: rem(15);

			color: var(--primary-color, #00b2ff);

			font-size: rem(36);
			font-weight: 700;
		}

		// .banner-price__descr
		&__descr {
			color: var(--Color-7, #636878);

			font-size: rem(14);
			font-weight: 400;
			line-height: 142.857%;
		}

		// .banner-price__right
		&__right {
			width: 100%;
		}

		// .banner-price__list--title
		&__list--title {
			margin-bottom: rem(25);

			color: var(--Color-7, #636878);

			font-size: rem(14);
			font-weight: 700;
		}

		// .banner-price__list
		&__list {
			margin-bottom: rem(30);
		}

		// .banner-price__list-item
		&__list-item {
			position: relative;

			margin-bottom: rem(15);
			padding-left: rem(17);

			color: #636878;

			font-size: rem(14);

			&::before {
				position: absolute;
				top: 0;
				left: 0;

				content: '\2713';

				font-weight: 700;
			}
		}

		// .banner-price__button
		&__button {
			width: 100%;
			max-width: rem(231);
			margin-bottom: rem(10);
			padding: rem(15) 0;

			text-align: center;

			color: var(--white, #fff);

			font-size: rem(14);
			font-weight: 700;

			&:hover {
				color: var(--black-main-color);
			}

			@media (max-width: 767.98px) {
				max-width: 100%;
			}
		}

		// .banner-price__link
		&__link {
			display: block;

			cursor: pointer;

			color: var(--Color-2, #71d5ff);

			font-size: rem(14);
			font-weight: 400;
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: none;
			text-decoration-thickness: auto;
			text-underline-offset: auto;
			text-underline-position: from-font;

			@media (max-width: 767.98px) {
				text-align: center;
			}
		}

		@media (max-width: 767.98px) {
			grid-template-columns: 1fr;

			padding: rem(20);
		}
	}

	.media {
		margin-top: rem(100);
		margin-bottom: rem(100);
	}

	.thanks {
		overflow: hidden;

		padding: rem(120) 0;

		// .thanks__container
		&__container {
		}

		// .thanks__title
		&__title {
			max-width: rem(1390);
			margin-bottom: rem(55);

			@media (max-width: 767.98px) {
				margin-bottom: rem(35);
			}
		}

		// .thanks__slider
		&__slider {
			overflow: visible;
			.swiper-wrapper {
				transition-timing-function: linear !important;
			}
		}

		// .thanks__slide
		&__slide {
			width: rem(340);

			&:hover {
				.thanks__slide--title {
					color: var(--primary-color);
				}
			}
		}

		// .thanks__slide--title
		&__slide--title {
			margin-bottom: rem(21);

			transition: color 0.3s ease 0s;
			text-align: center;

			color: var(--black-main-color, #292b32);

			font-size: rem(16);
			font-weight: 700;
		}

		// .thanks__slide--img
		&__slide--img {
			overflow: hidden;

			width: 100%;
			height: rem(485);

			border: 1px solid var(--Color-4, #def5ff);
			border-radius: rem(20);

			img {
				width: 100%;
				height: 100%;
				object-fit: fill;
			}
		}

		&-popup {
			position: fixed;
			z-index: 1000;

			display: none;
			align-items: center;
			justify-content: center;

			padding: rem(20);

			background-color: rgb(0 0 0 / 85%);
			inset: 0;
		}

		&-popup__img {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;

			box-shadow: 0 0 20px rgb(0 0 0 / 60%);
		}

		&-popup__close {
			position: absolute;
			z-index: 1001;
			top: rem(20);
			right: rem(30);

			cursor: pointer;

			color: white;

			font-size: rem(36);
		}

		@media (max-width: 767.98px) {
			padding: rem(60) 0;
		}
	}

	.digital-expertise {
		overflow: hidden;

		padding-top: rem(120);

		// .digital-expertise__container
		&__container {
		}

		// .digital-expertise__title
		&__title {
			margin-bottom: rem(55);

			@media (max-width: 767.98px) {
				margin-bottom: rem(35);
			}
		}

		// .digital-expertise__slider
		&__slider {
			.swiper {
				overflow: visible;
			}
			.swiper-wrapper {
				transition-timing-function: linear !important;
			}
		}

		// .digital-expertise__slide
		&__slide {
		}

		@media (max-width: 767.98px) {
			padding-top: rem(60);
			padding-bottom: rem(60);
		}
	}

	.slide-digital-expertise {
		display: flex;
		align-items: center;
		flex-direction: column;
		flex-shrink: 0;
		justify-content: center;

		width: rem(230);
		height: rem(200);
		padding: rem(16);

		transition: background-color 0.3s ease 0s;

		border: 1px solid var(--Color-9, #d1d3d9);
		border-radius: rem(20);
		gap: rem(10);

		&:hover {
			background-color: var(--secondary-color);

			.slide-digital-expertise__star {
				fill: var(--white);
			}
		}

		// .slide-digital-expertise__icon
		&__icon {
			position: relative;
			z-index: 2;

			width: rem(50);
			height: rem(50);

			img {
				width: 100%;
				height: 100%;
			}
		}

		// .slide-digital-expertise__star
		&__star {
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 50%;

			width: rem(106);
			height: rem(73);

			transition: fill 0.3s ease 0s;
			transform: translate(-50%, -50%);
			fill: var(--secondary-color);
		}

		// .slide-digital-expertise__title
		&__title {
			text-align: center;

			color: var(--Color-6, #292b32);

			font-size: rem(16);
			font-weight: 700;
			line-height: 125%;
		}
	}

	// federal-brands
	.federal-brands {
		padding-top: rem(125);
		padding-bottom: rem(125);

		background: #def5ff;

		// .federal-brands__container
		&__container {
		}

		// .federal-brands__title
		&__title {
			margin-bottom: rem(90);
		}

		// .federal-brands__slider
		&__slider {
			// display: flex;
			align-items: center;
			gap: rem(45);
		}

		&__prev {
			display: none;
			align-items: center;
			flex-shrink: 0;
			justify-content: center;

			width: rem(50);
			height: rem(50);

			cursor: pointer;

			border-radius: 50%;
			background: #def5ff;

			&.swiper-button-disabled {
				opacity: 0.5;
			}

			img {
				rotate: 180deg;
			}

			@media (max-width: 991.98px) {
				display: none;
			}
		}

		&__next {
			display: none;
			align-items: center;
			flex-shrink: 0;
			justify-content: center;

			width: rem(50);
			height: rem(50);

			cursor: pointer;

			border-radius: 50%;
			background: #def5ff;

			&.swiper-button-disabled {
				opacity: 0.5;
			}

			@media (max-width: 991.98px) {
				display: none;
			}
		}

		// .federal-brands__slide
		&__slide {
			width: auto;
			max-width: rem(250);
			height: rem(45);
			padding: rem(5);

			&:hover {
				img {
					scale: 1.1;
					filter: brightness(0) saturate(100%) invert(51%) sepia(64%) saturate(1696%) hue-rotate(174deg) brightness(101%) contrast(103%);
				}
			}

			img {
				width: 100%;
				height: 100%;

				transition: scale 0.3s ease 0s, filter 0.1s ease 0s;
			}

			@media (max-width: 767.98px) {
				height: rem(26);
			}
		}

		@media (max-width: 767.98px) {
			padding-top: rem(65);
			padding-bottom: rem(65);
		}
	}

	.make-decisions {
		padding-top: rem(120);
		padding-bottom: rem(120);

		// .make-decisions__container
		&__container {
		}

		// .make-decisions__top
		&__top {
			display: grid;
			grid-template-columns: 1fr minmax(rem(380), rem(420));
			gap: rem(35);

			margin-bottom: rem(80);

			@media (max-width: 991.98px) {
				grid-template-columns: 1fr;
			}

			@media (max-width: 767.98px) {
				margin-bottom: rem(22);
			}
		}

		// .make-decisions__title
		&__title {
		}

		// .make-decisions__banner
		&__banner {
			display: flex;
			align-items: center;
			justify-content: center;

			// max-width: rem(420);
			// height: max-content;
			width: 100%;
			padding: rem(34) rem(40);

			color: var(--black);
			border-radius: rem(20);
			background-color: var(--secondary-color);

			font-size: rem(20);
			font-weight: 700;
			line-height: 140%;

			@media (max-width: 767.98px) {
				padding: rem(17) rem(20);

				font-size: rem(16);
			}
		}

		// .make-decisions__list
		&__list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: rem(35);

			@media (max-width: 767.98px) {
				grid-template-columns: 1fr;
			}
		}

		// .make-decisions__item
		&__item {
		}

		@media (max-width: 767.98px) {
			padding-top: rem(60);
			padding-bottom: rem(60);
		}
	}

	.item-make-decisions {
		// .item-make-decisions__img
		&__img {
			width: rem(110);
			height: rem(97);
			margin-bottom: rem(32);

			img {
				width: 100%;
				height: 100%;
			}

			@media (max-width: 767.98px) {
				margin-bottom: rem(16);
			}
		}

		// .item-make-decisions__title
		&__title {
			margin-bottom: rem(25);

			color: var(--black-main-color, #292b32);

			font-size: rem(20);
			font-weight: 700;

			@media (max-width: 767.98px) {
				margin-bottom: rem(15);

				font-size: rem(28);
			}
		}

		// .item-make-decisions__text
		&__text {
			color: var(--Color-7, #636878);

			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;

			@media (max-width: 767.98px) {
				font-size: rem(16);
			}
		}
	}

	.top-awards {
		padding-top: 0;

		&__container {
			padding-top: 0 !important;
			padding-bottom: 0 !important;
		}
	}
	.media {
		margin-top: 0;
		margin-bottom: 0;
	}
}
