@use './functions' as *;
@use './top-awards';
@use './federal-brands';
@use './media-about-us';
@use './price';
@use './faq';

.contextnaya-reklama {
	font-family: Montserrat, sans-serif;

	.hero {
		overflow: hidden;

		padding: rem(80) 0;

		// .hero__container
		&__container {
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media (max-width: 767.98px) {
				flex-direction: column-reverse;
			}
		}

		// .hero__content
		&__content {
			min-width: rem(400);
			@media (max-width: 767.98px) {
				min-width: 0;
			}
		}

		// .hero__title
		&__title {
			margin-bottom: rem(35);

			font-size: clamp(1.625rem, 1rem + 2.5vw, 4rem);
		}
		&__text {
			color: var(--Color-7, #636878);
			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;
			margin-bottom: rem(60);
			@media (max-width: 767.98px) {
				margin-bottom: rem(30);
			}
		}
		// .hero__button
		&__button {
			width: 100%;
			max-width: rem(370);
			padding: rem(19);

			font-size: rem(18);
			font-weight: 700;
		}

		// .hero__img
		&__img {
			position: relative;

			max-width: rem(615);

			&:hover {
				.hero__img-decor svg {
					rotate: -30deg;
					fill: #beebff;
					scale: 80%;
				}
			}

			img {
				width: 100%;
				height: 100%;
			}

			@media (max-width: 767.98px) {
				max-width: 80%;
				margin-bottom: rem(20);
			}
		}

		// .hero__img-decor
		&__img-decor {
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 50%;

			width: 150%;
			height: 150%;

			transform: translate(-50%, -50%);

			svg {
				width: 100%;
				height: 100%;

				transition: rotate 0.3s ease 0s, fill 0.3s ease 0s, scale 0.3s ease 0s;
				fill: #caff3d;
			}
		}

		@media (max-width: 767.98px) {
			padding: rem(30) 0;
		}
	}
	// advantages
	.advantages {
		padding-top: rem(120);
		padding-bottom: rem(120);
		@media (max-width: 767.98px) {
			padding-top: rem(60);
			padding-bottom: rem(60);
		}
		// .advantages__container
		&__container {
		}

		// .advantages__list
		&__list {
			display: grid;
			gap: rem(20);
			grid-template-columns: repeat(3, 1fr);

			justify-content: center;

			@media (max-width: 991.98px) {
				grid-template-columns: repeat(2, 1fr);
				gap: rem(40);
			}

			@media (max-width: 767.98px) {
				grid-template-columns: 1fr;
			}
		}

		// .advantages__item
		&__item {
		}
	}

	.item-advantages {
		overflow: hidden;
		&:hover {
			.item-advantages__img--decor {
				rotate: -45deg;
				svg {
					scale: 0.8;
					fill: var(--primary-color);
				}
			}
		}
		// .item-advantages__img
		&__img {
			position: relative;

			margin-bottom: rem(25);
			&--decor {
				position: absolute;
				left: 0;
				top: 0;
				z-index: -1;
				transition: rotate 0.3s ease 0s;
				svg {
					width: 120%;
					height: 120%;
					fill: var(--secondary-color);
					transition: fill 0.3s ease 0s, scale 0.3s ease 0s;
				}
			}
			img {
				max-width: rem(194);
			}
		}

		// .item-advantages__title
		&__title {
			color: var(--Color-6, #292b32);

			font-size: rem(36);
			font-weight: 700;
			margin-bottom: rem(35);
			span {
				color: var(--primary-color);
			}
		}
		&__list {
			&--item {
				position: relative;
				padding-left: rem(20);

				&::before {
					content: '+';
					position: absolute;
					left: 0;
					color: var(--primary-color);
					font-weight: 700;
					top: 0;
					font-size: rem(20);
					line-height: 100%;
				}
				&:not(:last-child) {
					margin-bottom: rem(25);
				}
			}
		}
		// .item-advantages__text
		&__text {
			color: var(--Color-7, #636878);

			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;

			@media (max-width: 767.98px) {
				font-size: rem(16);
			}
		}
	}

	.steps {
		// .steps__container
		&__container {
		}
		// .steps__main
		&__main {
		}
		// .steps__banner
		&__banner {
		}

		.main-steps {
			max-width: rem(1069);
			margin: 0 auto;
			position: relative;
			&::before {
				content: '';
				position: absolute;
				height: 100%;
				width: 0;
				top: 3%;
				left: 50%;
				transform: translateX(-50%);
				border: 2px dashed #d1d3d9;
			}
			&__flex {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				gap: rem(68);
				padding-bottom: rem(160);
				@media (max-width: 767.98px) {
					gap: rem(30);
				}
			}

			// .main-steps__arrow
			&__arrow {
				position: absolute;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
				height: 100%;
				z-index: 10;
				width: rem(68);
				@media (max-width: 767.98px) {
					width: rem(40);
					svg {
						height: rem(100);
						width: 100%;
					}
				}
				svg {
					position: sticky;

					top: 40%;
					left: 0;
					z-index: 10;
				}
			}
		}
		.item-main-steps {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			justify-content: space-between;
			gap: rem(68);
			margin-bottom: rem(190);
			&::after {
				content: '';
				position: static;
			}
			&:nth-child(even) {
				grid-auto-flow: column;
				direction: rtl;
				.item-main-steps__text {
					margin-left: auto;

					width: 100%;
					direction: ltr;
					span {
						justify-self: flex-end;
					}
				}
				.item-main-steps__tip {
					left: unset;
					right: 0;

					&--item {
						text-align: left;
					}
				}
			}
			&__text {
				position: relative;

				color: var(--Color-6, #292b32);

				font-size: rem(28);
				font-weight: 700;
				line-height: 128.571%;
				transition: color 0.3s ease 0s;
				@media (max-width: 767.98px) {
					font-size: rem(16);
				}
				@media (max-width: 479.98px) {
					font-size: rem(12);
				}
				&:hover {
					color: #636878;
					cursor: pointer;
					.item-main-steps__toggle {
						span {
							&::after {
								background: #def5ff;
								color: var(--primary-color);
								border-color: var(--primary-color);
							}
						}
					}
				}
			}
			&__toggle {
				transition: color 0.3s ease 0s;
				span {
					display: flex;
					align-items: center;
					gap: rem(10);
					position: relative;
					&::after {
						content: '?';
						position: static;
						display: flex;
						align-items: center;
						font-size: rem(16);
						font-weight: 700;
						justify-content: center;
						color: #636878;
						width: rem(25);
						height: rem(25);
						flex-shrink: 0;
						flex-grow: 0;
						border-radius: 50%;
						border: 1px solid var(--Color-7, #636878);
						background: var(--Color-10, #f3f4f5);
						transition: background 0.3s ease 0s, color 0.3s ease 0s, border-color 0.3s ease 0s;
						@media (max-width: 767.98px) {
							width: rem(16);
							height: rem(16);
							font-size: rem(10);
						}
					}
				}
			}
			&__tip {
				border-radius: rem(8);
				padding: rem(15) rem(20);
				border: 1px solid var(--Color-11, #caff3d);
				background: var(--Color-11, #caff3d);
				color: var(--Color-6, #292b32);
				font-size: rem(16);
				font-weight: 400;
				line-height: 150%;
				position: absolute;
				top: 200%;
				left: 0;
				width: 100%;
				max-width: rem(371);
				max-height: rem(450);
				opacity: 0;
				transform: translateY(rem(20));
				transition: opacity 0.3s ease, transform 0.3s ease;
				pointer-events: none;
				@media (max-width: 767.98px) {
					padding: rem(10);
				}
				&::before {
					content: '';
					width: rem(25);
					height: rem(25);
					background: var(--secondary-color);
					position: absolute;
					bottom: 100%;
					left: 69%;
					transform: translateY(50%) rotate(45deg);
				}
				// .item-main-steps__tip--list
				&--list {
				}
				// .item-main-steps__tip--item
				&--item {
					position: relative;
					padding-left: rem(20);
					margin-bottom: rem(12);
					color: var(--black-main-color, #292b32);
					font-size: rem(16);
					font-weight: 400;
					line-height: 150%;
					@media (max-width: 767.98px) {
						font-size: rem(12);
						padding-left: rem(10);
					}
					&::before {
						content: '';
						position: absolute;
						left: 0;
						top: 0.6em;
						width: rem(3);
						height: rem(3);
						background-color: currentColor;
						border-radius: 50%;
					}
				}
			}
			&__checkbox:checked ~ .item-main-steps__tip {
				opacity: 1;
				transform: translateY(0);
				pointer-events: auto;
			}
			&__checkbox:checked ~ .item-main-steps__toggle {
				color: var(--primary-color);

				span {
					&::after {
						background: var(--secondary-color);
						color: var(--primary-color);
						border-color: var(--primary-color);
					}
				}
			}
		}
		.banner-steps {
			border-radius: rem(20);
			max-width: rem(1069);
			width: 100%;
			background: var(--secondary-color);
			position: relative;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0 rem(50) rem(50) rem(50);
			@media (max-width: 767.98px) {
				padding: 0 rem(15) rem(15) rem(15);
			}
			// .banner-steps__target
			&__target {
				// transform: translateY(-50%);
				margin-top: rem(-141);
				margin-bottom: rem(50);
			}
			// .banner-steps__text
			&__text {
				color: #000;
				font-size: rem(18);
				font-weight: 400;
				line-height: 155.556%;
				margin-bottom: rem(50);
				text-align: center;
				span {
					display: block;
					font-weight: 700;
				}
			}
			// .banner-steps__button
			&__button {
				max-width: rem(328);
				width: 100%;
				border-radius: rem(12);
				background: var(--black-main-color, #292b32);
				padding: rem(18);
				transition: opacity 0.3s ease 0s;
				&:hover {
					opacity: 0.9;
				}
			}
		}
		.button {
		}

		// .steps__title
		&__title {
			display: flex;
			align-items: center;
			gap: rem(60);
			margin-bottom: rem(60);
			@media (max-width: 767.98px) {
				gap: rem(15);
			}
		}
		// .steps__title--main
		&__title--main {
			// display: block;
			min-width: rem(440);
			color: var(--primary-color);
			@media (max-width: 991.98px) {
				min-width: unset;
			}
		}
		// .steps__title--divider
		&__title--divider {
			height: rem(1);
			background: #beebff;
			width: 100%;
		}
		// .steps__title--base
		&__title--base {
			color: #beebff;
		}
	}

	.report {
		background: #f3f4f5;
		padding-top: rem(110);
		padding-bottom: rem(110);
		@media (max-width: 767.98px) {
			padding-top: rem(60);
			padding-bottom: rem(60);
		}
		&__title {
			margin-bottom: rem(60);
			@media (max-width: 767.98px) {
				margin-bottom: rem(35);
			}
		}
		&__container {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: rem(40);
			@media (max-width: 991.98px) {
				display: flex;
				flex-direction: column-reverse;
			}
		}
		&__slider {
			position: relative;
			width: 100%;
		}

		&__slide {
			transition: transform 0.5s ease, opacity 0.5s ease;
			opacity: 0.5;
			transform: scale(0.6);
			width: rem(355);
			height: rem(575);
			img {
				width: 100%;
				height: 100%;
				object-fit: fill;
			}
		}

		&__slide.swiper-slide-active {
			opacity: 1;
			transform: scale(1);
			z-index: 2;
		}

		&__slide.triple-prev,
		&__slide.triple-next {
			opacity: 0.5;
			transform: scale(0.8);
			z-index: 1;
		}
		&__bullets {
			border-radius: rem(28);
			background: var(--Color-5, #fff);
			backdrop-filter: blur(2px);
			padding: rem(8);
			width: max-content;
			.swiper-pagination-bullet {
				width: rem(12);
				height: rem(12);
				background: transparent;
				border: 1px solid #d1d3d9;
				border-radius: 50%;
				opacity: 1;
				transition: background 0.3s ease 0s;
				&-active {
					background: #caff3d;
					border: none;
				}
			}
		}
		&__button {
			max-width: rem(368);
			width: 100%;
			padding: rem(19);
			margin-bottom: rem(60);
			@media (max-width: 767.98px) {
				margin-bottom: rem(35);
			}
		}
	}
	.report-data-lens {
		padding-top: rem(120);

		// .report-data-lens__container
		&__container {
			display: grid;
			grid-template-columns: 1fr 1.05fr;
			grid-template-rows: min-content rem(66);
			column-gap: rem(70);
			grid-template-areas:
				'img content'
				'img button';

			@media (max-width: 991.98px) {
				grid-template-columns: 1fr;
				grid-template-areas:
					'content'
					'img'
					'button';
				grid-template-rows: repeat(3, auto);
			}
		}

		// .report-data-lens__img
		&__img {
			overflow: hidden;

			border-bottom: 1px solid var(--Color-9, #d1d3d9);
			border-radius: 0 rem(20) rem(20) 0;
			grid-area: img;

			img {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}

			@media (max-width: 991.98px) {
				margin-bottom: rem(30);
			}
		}

		// .report-data-lens__content
		&__content {
			grid-area: content;
		}

		// .report-data-lens__title
		&__title {
			margin-bottom: rem(40);

			@media (max-width: 767.98px) {
				margin-bottom: rem(25);
			}
		}

		// .report-data-lens__text
		&__text {
			margin-bottom: rem(25);

			color: #000;

			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;
		}

		// .report-data-lens__button
		&__button {
			max-width: rem(370);
			padding: rem(15);
			grid-area: button;

			@media (max-width: 991.98px) {
				max-width: 100%;
			}
		}

		@media (max-width: 767.98px) {
			padding-top: rem(60);
		}
	}

	.make-decisions {
		padding-top: rem(120);
		padding-bottom: rem(120);

		// .make-decisions__container
		&__container {
		}

		// .make-decisions__top
		&__top {
			display: grid;
			grid-template-columns: 1fr minmax(rem(380), rem(420));
			gap: rem(35);

			margin-bottom: rem(80);

			@media (max-width: 991.98px) {
				grid-template-columns: 1fr;
			}

			@media (max-width: 767.98px) {
				margin-bottom: rem(22);
			}
		}

		// .make-decisions__title
		&__title {
		}

		// .make-decisions__banner
		&__banner {
			display: flex;
			align-items: center;
			justify-content: center;

			// max-width: rem(420);
			// height: max-content;
			width: 100%;
			padding: rem(34) rem(40);

			color: var(--black);
			border-radius: rem(20);
			background-color: var(--secondary-color);

			font-size: rem(20);
			font-weight: 700;
			line-height: 140%;

			@media (max-width: 767.98px) {
				padding: rem(17) rem(20);

				font-size: rem(16);
			}
		}

		// .make-decisions__list
		&__list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: rem(35);

			@media (max-width: 767.98px) {
				grid-template-columns: 1fr;
			}
		}

		// .make-decisions__item
		&__item {
		}

		@media (max-width: 767.98px) {
			padding-top: rem(60);
			padding-bottom: rem(60);
		}
	}

	.item-make-decisions {
		// .item-make-decisions__img
		&__img {
			width: rem(110);
			height: rem(97);
			margin-bottom: rem(32);

			img {
				width: 100%;
				height: 100%;
			}

			@media (max-width: 767.98px) {
				margin-bottom: rem(16);
			}
		}

		// .item-make-decisions__title
		&__title {
			margin-bottom: rem(25);

			color: var(--black-main-color, #292b32);

			font-size: rem(20);
			font-weight: 700;

			@media (max-width: 767.98px) {
				margin-bottom: rem(15);

				font-size: rem(28);
			}
		}

		// .item-make-decisions__text
		&__text {
			color: var(--Color-7, #636878);

			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;

			@media (max-width: 767.98px) {
				font-size: rem(16);
			}
		}
	}

	.seo-calculator {
		padding-top: rem(120);
		padding-bottom: rem(120);

		&__banner {
			padding: rem(90);

			border: 1px solid var(--Neutral-Grey, #dddce0);
			border-radius: rem(20);
			background: var(--white, #fff);

			@media (max-width: 991.98px) {
				padding: 0;

				border: none;
			}
		}

		&__title {
			margin-bottom: rem(35);

			@media (max-width: 767.98px) {
				margin-bottom: rem(20);
			}
		}

		&__subtitle {
			margin-bottom: rem(32);

			color: #6c6c6c;

			font-size: rem(18);
		}

		@media (max-width: 767.98px) {
			padding-top: rem(60);
			padding-bottom: rem(60);
		}
	}

	.seo-form {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, rem(675)));

		justify-content: space-between;
		gap: rem(35);
		grid-template-areas:
			'region theme'
			'queries pages'
			'options options'
			'result button'
			'note note';

		&__group {
			display: flex;
			flex-direction: column;
			gap: rem(8);

			&--region {
				grid-area: region;
			}

			&--theme {
				grid-area: theme;
			}

			&--queries {
				display: grid;
				align-items: center;
				justify-content: space-between;

				padding: rem(24);

				border: 1px solid var(--Neutral-Grey, #dddce0);
				border-radius: rem(12);
				background: var(--White, #fff);
				grid-area: queries;
				grid-template-columns: minmax(0, rem(530)) auto;
				column-gap: rem(44);

				label {
					grid-column: span 2;
				}
			}

			&--pages {
				display: grid;
				align-items: center;
				justify-content: space-between;

				padding: rem(24);

				border: 1px solid var(--Neutral-Grey, #dddce0);
				border-radius: rem(12);
				background: var(--White, #fff);
				grid-area: pages;
				grid-template-columns: minmax(0, rem(530)) auto;
				column-gap: rem(44);

				label {
					grid-column: span 2;
				}
			}

			&--options {
				grid-area: options;

				display: flex;
				align-items: center;
				flex-direction: row;

				label {
					display: flex;
					align-items: center;
					gap: 1rem;
				}

				@media (max-width: 767.98px) {
					align-items: start;
					flex-direction: column;
				}
			}
		}

		&__checkbox {
			position: relative;

			display: flex;
			align-items: center;

			cursor: pointer;
			user-select: none;

			font-size: rem(16);
			gap: rem(8);

			input[type='checkbox'] {
				position: absolute;

				pointer-events: none;

				opacity: 0;
			}

			&-box {
				position: relative;

				width: rem(20);
				height: rem(20);

				transition: background-color 0.2s, border-color 0.2s;

				border: rem(2) solid #ccc;
				border-radius: rem(4);
				background-color: #fff;
			}

			input[type='checkbox']:checked + .seo-form__checkbox-box {
				border-color: var(--secondary-color);
				background-color: var(--secondary-color);

				&::after {
					position: absolute;
					top: 50%;
					left: 50%;

					width: rem(6);
					height: rem(10);

					content: '';
					transform: translate(-50%, -50%) rotate(45deg);

					border: solid #000;
					border-width: 0 rem(2) rem(2) 0;
				}
			}

			&-label {
				font-size: rem(16);
			}
		}

		&__label {
			margin-bottom: rem(12);

			color: var(--Color-8, #adb0bc);

			font-size: rem(14);
			font-weight: 400;
		}

		&__select {
			color: var(--Color-6, #292b32);

			font-size: rem(18);
			font-weight: 400;
		}

		&__select,
		&__range {
			width: 100%;
			padding: rem(12) rem(16);

			border-radius: rem(12);
			background: #f9f9f9;

			font-size: rem(16);

			&:focus {
				border-color: #007aff;
				outline: none;
			}
		}

		&__range {
			height: rem(8);
			padding: 0;

			border-radius: rem(24);
			background: var(--Color-4, #def5ff);
			background: linear-gradient(to right, var(--secondary-color) 0%, var(--secondary-color) var(--value-percent, 50%), #def5ff var(--value-percent, 50%), #def5ff 100%);
			appearance: none;

			&::-webkit-slider-thumb {
				width: rem(24);
				height: rem(24);

				cursor: pointer;

				border: none;
				border: 1px solid var(--secondary-color);
				border-radius: 50%;
				background: var(--white);
				appearance: none;
				filter: drop-shadow(0 4px 24px rgb(16 24 64 / 16%));
			}

			&::-moz-range-thumb {
				width: rem(24);
				height: rem(24);

				cursor: pointer;

				border: none;
				border: 1px solid var(--secondary-color);
				border-radius: 50%;
				background: var(--white);
				appearance: none;
				filter: drop-shadow(0 4px 24px rgb(16 24 64 / 16%));
			}
		}

		&__output {
			padding: rem(12) rem(22);

			color: var(--Color-6, #292b32);
			border: 1px solid var(--Color-9, #d1d3d9);
			border-radius: rem(8);
			background: var(--White, #fff);

			font-size: rem(16);
			font-weight: 700;
		}

		&__checkbox-label {
			display: flex;
			align-items: center;

			font-size: rem(15);
			gap: rem(8);

			input[type='checkbox'] {
				width: rem(18);
				height: rem(18);
			}
		}

		&__result {
			display: flex;

			align-items: center;
			grid-area: result;
			gap: rem(8);
		}

		&__estimate-label {
			color: var(--Color-6, #292b32);

			font-size: rem(36);
			font-weight: 700;

			@media (max-width: 1199.98px) {
				font-size: rem(28);
			}
		}

		&__estimate-value {
			color: var(--primary-color);

			font-size: rem(36);
			font-weight: 700;

			@media (max-width: 1199.98px) {
				font-size: rem(28);
			}
		}

		&__submit {
			width: 100%;
			max-width: rem(370);
			padding: rem(18) rem(32);

			cursor: pointer;
			transition: background-color 0.2s ease-in-out;

			color: #fff;
			border: none;
			border-radius: rem(12);
			background: var(--primary-color);

			font-size: rem(16);
			font-weight: 600;
			grid-area: button;
			justify-self: end;

			&:hover {
				background-color: #005bb5;
			}

			@media (max-width: 767.98px) {
				max-width: 100%;
			}
		}

		&__note {
			color: var(--Color-8, #adb0bc);

			font-size: rem(14);
			font-weight: 400;
			line-height: 142.857%;
			grid-area: note;
		}

		@media (max-width: 767.98px) {
			grid-template-columns: 1fr;
			grid-template-areas:
				'region'
				'queries'
				'theme'
				'pages'
				'options'
				'result'
				'button'
				'note';
		}
	}
}
