@use './functions' as *;

.faq {
	padding-top: rem(120);
	padding-bottom: rem(120);

	background: var(--Color-10, #f3f4f5);

	&__title {
		margin-bottom: rem(80);

		@media (width <= 767.98px) {
			margin-bottom: rem(45);
		}
	}

	// .faq__bottom
	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(15);

		@media (width <= 767.98px) {
			flex-direction: column;
		}
	}

	// .faq__banner
	&__banner {
		width: 100%;
		max-width: rem(1064);
		padding: rem(34) rem(40);

		color: var(--black);
		border-radius: rem(20);
		background: var(--secondary-color);

		font-size: rem(18);
		font-weight: 400;
		line-height: 155.556%;
	}

	// .faq__button
	&__button {
		width: 100%;
		max-width: rem(426);
		padding: rem(23) 0;

		cursor: pointer;
		transition: opacity 0.3s ease 0s;

		color: var(--Color-5, #fff);
		border-radius: rem(12);
		background: var(--black-main-color);

		font-size: rem(16);
		font-weight: 700;

		&:hover {
			opacity: 0.9;
		}
	}

	@media (width <= 767.98px) {
		padding-top: rem(60);
		padding-bottom: rem(60);
	}
}

.faq__list {
	margin-bottom: rem(75);
	padding: rem(50) rem(60);

	border-radius: rem(20);
	background: var(--white);

	@media (width <= 767.98px) {
		margin-bottom: rem(25);
		padding: 0;

		background: transparent;
	}
}

.item-faq {
	display: flex;
	gap: rem(20);

	&:not(:last-child) {
		margin-bottom: rem(50);
	}

	// .item-faq__question
	&__question {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: space-between;

		color: var(--black, #000);

		font-size: rem(28);
		font-weight: 700;
		gap: rem(10);

		@media (width <= 767.98px) {
			font-size: rem(18);
		}
	}

	// .item-faq__number
	&__number {
		flex-shrink: 0;

		width: rem(64);

		letter-spacing: 0.25px;

		color: var(--Color-9, #d1d3d9);

		font-family: Inter;
		font-size: rem(48);
		font-weight: 700;

		@media (width <= 767.98px) {
			width: rem(40);

			font-size: rem(28);
		}
	}

	// .item-faq__question--text
	&__question--text {
	}

	// .item-faq__indicator
	&__indicator {
		display: flex;
		align-items: center;
		flex-shrink: 0;
		justify-content: center;

		width: rem(48);
		height: rem(48);

		transition: background 0.3s ease 0s, transform 0.3s ease 0s;

		border-radius: 50%;
		background: var(--primary-color);

		@media (width <= 767.98px) {
			right: rem(-33);

			width: rem(33);
			height: rem(33);

			font-size: rem(16);
		}
	}

	&__answer {
		padding-right: rem(80);

		color: var(--Color-7, #636878);

		font-size: rem(18);
		font-weight: 400;
		line-height: 155.556%;

		@media (width <= 767.98px) {
			font-size: rem(14);
		}
	}

	@media (width <= 767.98px) {
		padding: rem(13) rem(10);

		border-radius: rem(20);
		background: var(--white, #fff);

		&:not(:last-child) {
			margin-bottom: rem(25);
		}
	}
}

.item-faq__block {
	position: relative;
}

.item-faq__toggle {
	position: absolute;
	z-index: 2;

	width: 100%;
	height: 100%;

	cursor: pointer;

	opacity: 0;
	appearance: none;
}

.item-faq__question {
	position: relative;
	z-index: 1;

	cursor: pointer;
}

.item-faq__answer {
	overflow: hidden;

	max-height: 0;
	padding: 0 rem(80) 0 0;

	transition: max-height 0.3s ease, padding 0.3s ease;
}

/* Когда input:checked, показываем блок с ответом */
.item-faq__toggle:checked ~ .item-faq__answer {
	max-height: 1000px;
	padding: 2rem rem(80) 0 0;
}

.item-faq__toggle:checked ~ .item-faq__question .item-faq__indicator {
	transform: rotate(45deg);

	background: var(--secondary-color);
}
