@use './functions' as *;
@use './top-awards';
@use './media-about-us';

.orm {
	overflow-x: hidden;

	font-family: Montserrat, sans-serif;

	.hero {
		overflow: hidden;

		min-height: 90vh;

		padding: rem(80) 0;

		// .hero__container
		&__container {
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media (max-width: 767.98px) {
				flex-direction: column-reverse;
			}
		}

		// .hero__content
		&__content {
			min-width: rem(400);

			@media (max-width: 767.98px) {
				min-width: 0;
			}
		}

		// .hero__title
		&__title {
			max-width: rem(631);
			margin-bottom: rem(35);

			font-size: clamp(1.625rem, 1rem + 2.5vw, 4rem);
		}

		&__text {
			max-width: rem(631);
			margin-bottom: rem(60);

			color: var(--Color-7, #636878);

			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;

			@media (max-width: 767.98px) {
				margin-bottom: rem(30);
			}
		}

		// .hero__button
		&__button {
			width: 100%;
			max-width: rem(370);
			padding: rem(19);

			font-size: rem(18);
			font-weight: 700;
		}

		// .hero__img
		&__img {
			position: relative;

			width: 100%;

			max-width: rem(615);

			&:hover {
				.hero__img-decor {
					transform: translate(-50%, -50%);
				}

				.hero__img-decor svg {
					transform: rotate(0) scale(1);
					fill: #beebff;
				}
			}

			img {
				width: 100%;
				height: 100%;
			}

			@media (max-width: 767.98px) {
				max-width: 80%;
				margin-bottom: rem(20);
			}
		}

		// .hero__img-decor
		&__img-decor {
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 50%;

			width: 150%;
			height: 150%;

			transition: transform 0.3s ease 0s;

			transform: translate(-50%, -50%);

			svg {
				width: 100%;
				height: 100%;
				rotate: -40deg;

				transition: transform 0.3s ease 0s, fill 0.3s ease 0s;
				transform: scale(1.3) rotate(30deg);
				fill: var(--secondary-color);
			}
		}

		@media (max-width: 767.98px) {
			padding: rem(30) 0;
		}
	}

	// advantages
	.advantages {
		padding-top: rem(120);
		padding-bottom: rem(120);

		// .advantages__container
		&__container {
		}

		&__title {
			margin-bottom: rem(80);

			@media (max-width: 767.98px) {
				margin-bottom: rem(40);
			}
		}

		// .advantages__list
		&__list {
			display: grid;
			gap: rem(50);
			grid-template-columns: repeat(4, 1fr);

			align-items: center;
			justify-content: center;

			@media (max-width: 991.98px) {
				grid-template-columns: repeat(2, 1fr);
				gap: rem(40);
			}

			@media (max-width: 767.98px) {
				grid-template-columns: 1fr;
			}
		}

		// .advantages__item
		&__item {
		}

		@media (max-width: 767.98px) {
			padding-top: rem(60);
			padding-bottom: rem(60);
		}
	}

	.item-advantages {
		overflow: hidden;

		&:hover {
			.item-advantages__img--decor {
				rotate: -45deg;

				svg {
					scale: 0.8;
					fill: var(--primary-color);
				}
			}
		}

		// .item-advantages__img
		&__img {
			position: relative;

			margin-bottom: rem(25);

			&--decor {
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;

				transition: rotate 0.3s ease 0s;

				svg {
					width: 120%;
					height: 120%;
					fill: var(--secondary-color);

					transition: fill 0.3s ease 0s, scale 0.3s ease 0s;
				}
			}

			img {
				max-width: rem(194);
			}
		}

		// .item-advantages__title
		&__title {
			margin-bottom: rem(25);

			color: var(--black-main-color, #292b32);

			font-size: rem(20);
			font-weight: 700;

			span {
				color: var(--primary-color);
			}
		}

		&__list {
			&--item {
				position: relative;

				padding-left: rem(20);

				&::before {
					position: absolute;
					top: 0;
					left: 0;

					content: '+';

					color: var(--primary-color);

					font-size: rem(20);
					font-weight: 700;
					line-height: 100%;
				}

				&:not(:last-child) {
					margin-bottom: rem(25);
				}
			}
		}

		// .item-advantages__text
		&__text {
			color: var(--Color-7, #636878);

			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;

			@media (max-width: 767.98px) {
				font-size: rem(16);
			}
		}
	}

	.bad-reviews {
		overflow: hidden;

		padding-bottom: rem(120);

		// .bad-reviews__container
		&__container {
		}

		// .bad-reviews__title
		&__title {
			margin-bottom: rem(80);

			@media (max-width: 767.98px) {
				margin-bottom: rem(30);
			}
		}

		// .bad-reviews__reviews
		&__reviews {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: rem(50);

			margin-bottom: rem(45);

			@media (max-width: 991.98px) {
				grid-template-columns: 100%;
			}
		}

		// .bad-reviews__item
		&__item {
		}

		// .bad-reviews__banner
		&__banner {
			padding: rem(30);

			text-align: center;

			color: var(--Color-6, #292b32);
			border-radius: rem(20);
			background: #beebff;

			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;

			@media (max-width: 767.98px) {
				padding: rem(20);
			}
		}

		// .bad-reviews__banner--text
		&__banner--text {
			margin-bottom: rem(25);

			// .bad-reviews__banner--text_bold
			&_bold {
				font-size: rem(20);
				font-weight: 700;
			}
		}

		@media (max-width: 767.98px) {
			padding-bottom: rem(60);
		}
	}

	.title {
	}

	.item-bad-reviews {
		position: relative;

		padding: rem(30);

		border: 3px solid #dfdfdf;
		border-radius: rem(30);
		background: #fff;

		// .item-bad-reviews__top
		&__top {
			display: flex;
			justify-content: space-between;
			gap: rem(10);

			margin-bottom: rem(25);
		}

		&__decor {
			position: absolute;
			z-index: -1;
			top: 5%;
			left: 20%;

			width: 120%;

			svg {
				width: 100%;
				height: 100%;
			}
		}

		// .item-bad-reviews__user
		&__user {
			display: flex;
			align-items: center;
			gap: rem(10);
		}

		// .item-bad-reviews__user--img
		&__user--img {
			flex-shrink: 0;

			width: rem(73);
			height: rem(73);

			img {
				width: 100%;
				height: 100%;

				border-radius: 50%;
			}

			@media (max-width: 767.98px) {
				width: rem(39);
				height: rem(39);
			}
		}

		// .item-bad-reviews__user--data
		&__user--data {
		}

		// .item-bad-reviews__user--name
		&__user--name {
			margin-bottom: rem(5);

			font-size: rem(20);
			font-weight: 700;

			@media (max-width: 767.98px) {
				font-size: rem(12);
			}
		}

		// .item-bad-reviews__user--date
		&__user--date {
			font-size: rem(18);

			@media (max-width: 767.98px) {
				font-size: rem(12);
			}
		}

		// .item-bad-reviews__rating
		&__rating {
		}

		// .item-bad-reviews__text
		&__text {
			margin-bottom: rem(65);

			@media (max-width: 767.98px) {
				margin-bottom: rem(30);
			}
		}

		// .item-bad-reviews__bottom
		&__bottom {
			display: flex;
			justify-content: space-between;
		}

		// .item-bad-reviews__like
		&__like {
			display: inline-flex;
			align-items: center;

			padding: rem(5) rem(11);

			border: 2px solid #ddd;
			border-radius: rem(4);
			gap: rem(5);
			cursor: pointer;
			&:hover {
				.item-bad-reviews__like--icon {
					svg path {
						fill: var(--primary-color);
					}
				}
			}
		}

		// .item-bad-reviews__like--icon
		&__like--icon {
		}

		// .item-bad-reviews__like--text
		&__like--text {
		}

		// .item-bad-reviews__like--count
		&__like--count {
			color: #ddd;

			font-size: rem(20);
			font-weight: 700;
		}

		// .item-bad-reviews__wrong
		&__wrong {
			cursor: pointer;

			&:hover {
				svg path {
					fill: rgb(179, 2, 2);
				}
			}
			svg path {
				transition: fill 0.5s ease 0s;
			}
		}

		@media (max-width: 767.98px) {
			padding: rem(20);
		}
	}

	.problems {
		padding-bottom: rem(120);

		// .problems__container
		&__container {
		}

		// .problems__title
		&__title {
			margin-bottom: rem(80);

			@media (max-width: 767.98px) {
				margin-bottom: rem(30);
			}
		}

		// .problems__grid
		&__grid {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			gap: rem(49);

			margin-bottom: rem(50);

			@media (max-width: 991.98px) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media (max-width: 767.98px) {
				margin-bottom: rem(35);
				grid-template-columns: 100%;
			}
		}

		// .problems__item
		&__item {
		}

		// .problems__bottom
		&__bottom {
			display: grid;
			grid-template-columns: repeat(2, 1fr);

			align-items: center;
			gap: rem(30);

			@media (max-width: 767.98px) {
				grid-template-columns: 100%;
			}
		}

		// .problems__text
		&__text {
			color: #000;

			font-size: rem(20);
			font-weight: 700;
		}

		// .problems__button
		&__button {
			width: 100%;
			padding: rem(24);

			color: var(--Color-5, #fff);
			background: var(--black-main-color, #292b32);

			font-size: rem(20);
			font-weight: 700;
			&:hover {
				color: var(--white);
				background: #636878;
			}
		}

		@media (max-width: 767.98px) {
			padding-bottom: rem(60);
		}
	}

	.title {
	}

	.item-problems {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		height: rem(270);
		padding: rem(30);

		border-radius: rem(30);
		background: var(--primary-color);

		&:nth-child(even) {
			background: #71d5ff;
		}

		// .item-problems__number
		&__number {
			color: #beebff;

			font-size: rem(48);
			font-weight: 700;
			font-style: normal;
			leading-trim: both;
			text-edge: cap;
		}

		// .item-problems__text
		&__text {
			color: #fff;

			font-size: rem(20);
			font-weight: 700;

			span {
				font-size: rem(18);
				font-weight: 400;
			}
		}
	}

	.button {
	}

	.faq {
		padding-top: rem(120);
		padding-bottom: rem(120);

		background: var(--white);

		&__title {
			margin-bottom: rem(80);

			@media (max-width: 767.98px) {
				margin-bottom: rem(45);
			}
		}

		// .faq__bottom
		&__bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: rem(15);

			@media (max-width: 767.98px) {
				flex-direction: column;
			}
		}

		// .faq__banner
		&__banner {
			width: 100%;
			max-width: rem(1064);
			padding: rem(34) rem(40);

			color: var(--black);
			border-radius: rem(20);
			background: var(--secondary-color);

			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;
		}

		// .faq__button
		&__button {
			width: 100%;
			max-width: rem(426);
			padding: rem(23) 0;

			cursor: pointer;
			transition: background 0.3s ease 0s;

			color: var(--Color-5, #fff);
			border-radius: rem(12);
			background: var(--black-main-color);

			font-size: rem(16);
			font-weight: 700;

			&:hover {
				background: #636878;
			}
		}

		@media (max-width: 767.98px) {
			padding-top: rem(60);
			padding-bottom: rem(60);
		}
	}

	.faq__list {
		margin-bottom: rem(75);
		padding: rem(50) rem(60);

		border-radius: rem(20);
		background: var(--white);
		background: var(--Color-10, #f3f4f5);

		@media (max-width: 767.98px) {
			margin-bottom: rem(25);
			padding: 0;

			background: transparent;
		}
	}

	.item-faq {
		display: flex;
		gap: rem(20);

		&:not(:last-child) {
			margin-bottom: rem(50);
		}

		// .item-faq__question
		&__question {
			position: relative;

			display: flex;
			align-items: center;
			justify-content: space-between;

			color: var(--black, #000);

			font-size: rem(28);
			font-weight: 700;
			gap: rem(10);

			@media (max-width: 767.98px) {
				font-size: rem(18);
			}
		}

		// .item-faq__number
		&__number {
			flex-shrink: 0;

			width: rem(64);

			letter-spacing: 0.25px;

			color: var(--Color-9, #d1d3d9);
			color: transparent;

			font-family: Inter;
			font-size: rem(48);
			font-weight: 700;
			-webkit-text-stroke: 1px #000;
			text-stroke: 1px #000;

			@media (max-width: 767.98px) {
				width: rem(40);

				font-size: rem(28);
			}
		}

		// .item-faq__question--text
		&__question--text {
		}

		// .item-faq__indicator
		&__indicator {
			display: flex;
			align-items: center;
			flex-shrink: 0;
			justify-content: center;

			width: rem(48);
			height: rem(48);

			transition: background 0.3s ease 0s, transform 0.3s ease 0s;

			border-radius: 50%;
			background: var(--primary-color);

			@media (max-width: 767.98px) {
				right: rem(-33);

				width: rem(33);
				height: rem(33);

				font-size: rem(16);
			}
		}

		&__answer {
			padding-right: rem(80);

			color: var(--Color-7, #636878);

			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;

			@media (max-width: 767.98px) {
				font-size: rem(14);
			}
		}

		@media (max-width: 767.98px) {
			padding: rem(13) rem(10);

			border-radius: rem(20);
			background: var(--white, #fff);

			&:not(:last-child) {
				margin-bottom: rem(25);
			}
		}
	}

	.item-faq__block {
		position: relative;

		width: 100%;
	}

	.item-faq__toggle {
		position: absolute;
		z-index: 2;

		width: 100%;
		height: 100%;

		cursor: pointer;

		opacity: 0;
		appearance: none;
	}

	.item-faq__question {
		position: relative;
		z-index: 1;

		cursor: pointer;
	}

	.item-faq__answer {
		overflow: hidden;

		max-height: 0;
		padding: 0 rem(80) 0 0;

		transition: max-height 0.3s ease, padding 0.3s ease;
	}

	/* Когда input:checked, показываем блок с ответом */
	.item-faq__toggle:checked ~ .item-faq__answer {
		max-height: 1000px;
		padding: 2rem rem(80) 0 0;
	}

	.item-faq__toggle:checked ~ .item-faq__question .item-faq__indicator {
		transform: rotate(45deg);

		background: var(--secondary-color);
	}

	.price-banner {
		overflow: hidden;

		margin-bottom: rem(120);

		// .price-banner__container
		&__container {
		}

		// .price-banner__banner
		&__banner {
			display: flex;

			padding: rem(70) rem(160) rem(0) rem(100);

			border-radius: rem(20);
			background: var(--secondary-color);

			@media (max-width: 1199.98px) {
				padding: rem(30) rem(15);
				padding-bottom: 0;
			}

			@media (max-width: 991.98px) {
				align-items: center;
				flex-direction: column-reverse;
			}
		}

		// .price-banner__img
		&__img {
			position: relative;

			max-width: rem(621);

			&::before {
				position: absolute;
				z-index: 1;
				top: 50%;
				left: 50%;

				width: 80%;
				height: 100%;

				content: '';
				transform: translate(-50%, 0);

				border-radius: 50%;
				background: var(--white);
			}

			img {
				position: relative;
				z-index: 2;

				width: 100%;
				height: 100%;
				object-fit: fill;
			}
		}

		// .price-banner__content
		&__content {
			align-self: center;
		}

		// .price-banner__title
		&__title {
			margin-bottom: rem(20);
		}

		// .price-banner__price
		&__price {
			margin-bottom: rem(35);

			color: var(--black-main-color, #292b32);

			font-size: rem(36);
			font-weight: 700;
		}

		// .price-banner__button
		&__button {
			width: 100%;
			max-width: rem(370);
			margin-bottom: rem(35);
			padding: rem(18);

			color: var(--Color-5, #fff);
			background: var(--black-main-color);

			font-size: rem(16);
			font-weight: 700;

			&:hover {
				color: white;
				background: #636878;
			}

			@media (max-width: 767.98px) {
				max-width: 100%;
			}
		}

		// .price-banner__text
		&__text {
			max-width: rem(628);
			margin-bottom: rem(20);

			color: var(--Color-7, #636878);

			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;
		}

		@media (max-width: 767.98px) {
			margin-bottom: rem(60);
		}
	}

	.title {
	}

	.button {
	}

	.nda-banner {
		position: relative;

		overflow: hidden;

		margin-bottom: rem(120);
		padding-top: rem(140);
		padding-bottom: rem(140);

		background: #f3f4f5;

		// .cpa-banner__container
		&__container {
		}

		// .cpa-banner__banner
		&__banner {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		// .cpa-banner__title
		&__title {
			position: relative;
			z-index: 2;

			max-width: rem(1419);

			text-align: center;
		}

		// .cpa-banner__decor
		&__decor {
			// .cpa-banner__decor_right
			&_right {
				position: absolute;
				z-index: 1;
				top: 0;
				right: 0;

				width: 20%;

				svg {
					width: 100%;
					height: 100%;
				}
			}

			// .cpa-banner__decor_left
			&_left {
				position: absolute;
				z-index: 1;
				bottom: 0;
				left: 0;

				width: 20%;

				transform: translateY(rem(5));

				svg {
					width: 100%;
					height: 100%;
				}
			}
		}

		@media (max-width: 767.98px) {
			margin-bottom: rem(60);
			padding-top: rem(60);
			padding-bottom: rem(60);
		}
	}
}
