@use './functions' as *;
@use './top-awards';
@use './media-about-us';

.target {
	overflow-x: hidden;

	font-family: Montserrat, sans-serif;

	.hero {
		overflow: hidden;

		min-height: 90vh;

		padding: rem(80) 0;

		// .hero__container
		&__container {
			display: flex;
			align-items: center;
			justify-content: space-between;

			@media (max-width: 767.98px) {
				flex-direction: column-reverse;
			}
		}

		// .hero__content
		&__content {
			min-width: rem(400);

			@media (max-width: 767.98px) {
				min-width: 0;
			}
		}

		// .hero__title
		&__title {
			margin-bottom: rem(35);

			font-size: clamp(1.625rem, 1rem + 2.5vw, 4rem);
		}

		&__text {
			margin-bottom: rem(60);

			color: var(--Color-7, #636878);

			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;

			@media (max-width: 767.98px) {
				margin-bottom: rem(30);
			}
		}

		// .hero__button
		&__button {
			width: 100%;
			max-width: rem(370);
			padding: rem(19);

			font-size: rem(18);
			font-weight: 700;
		}

		// .hero__img
		&__img {
			position: relative;

			width: 100%;

			max-width: rem(615);

			&:hover {
				.hero__img-decor {
					transform: translate(-50%, -50%);
				}

				.hero__img-decor svg {
					transform: rotate(0) scale(1);
					fill: #beebff;
				}
			}

			img {
				width: 100%;
				height: 100%;
			}

			@media (max-width: 767.98px) {
				max-width: 80%;
				margin-bottom: rem(20);
			}
		}

		// .hero__img-decor
		&__img-decor {
			position: absolute;
			z-index: -1;
			top: 50%;
			left: 50%;

			width: 150%;
			height: 150%;

			transition: transform 0.3s ease 0s;

			transform: translate(-70%, -70%);

			svg {
				width: 100%;
				height: 100%;

				transition: transform 0.3s ease 0s, fill 0.3s ease 0s;
				transform: scale(1.3) rotate(30deg);
				fill: var(--secondary-color);
			}
		}

		@media (max-width: 767.98px) {
			padding: rem(30) 0;
		}
	}

	// advantages
	.advantages {
		padding-top: rem(120);
		padding-bottom: rem(120);

		// .advantages__container
		&__container {
		}

		&__title {
			margin-bottom: rem(80);

			@media (max-width: 767.98px) {
				margin-bottom: rem(40);
			}
		}

		// .advantages__list
		&__list {
			display: grid;
			gap: rem(50);
			grid-template-columns: repeat(4, 1fr);

			justify-content: center;

			@media (max-width: 991.98px) {
				grid-template-columns: repeat(2, 1fr);
				gap: rem(40);
			}

			@media (max-width: 767.98px) {
				grid-template-columns: 1fr;
			}
		}

		// .advantages__item
		&__item {
		}

		@media (max-width: 767.98px) {
			padding-top: rem(60);
			padding-bottom: rem(60);
		}
	}

	.item-advantages {
		overflow: hidden;

		&:hover {
			.item-advantages__img--decor {
				rotate: -45deg;

				svg {
					scale: 0.8;
					fill: var(--primary-color);
				}
			}
		}

		// .item-advantages__img
		&__img {
			position: relative;

			margin-bottom: rem(25);

			&--decor {
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;

				transition: rotate 0.3s ease 0s;

				svg {
					width: 120%;
					height: 120%;
					fill: var(--secondary-color);

					transition: fill 0.3s ease 0s, scale 0.3s ease 0s;
				}
			}

			img {
				max-width: rem(194);
			}
		}

		// .item-advantages__title
		&__title {
			margin-bottom: rem(25);

			color: var(--black-main-color, #292b32);

			font-size: rem(20);
			font-weight: 700;

			span {
				color: var(--primary-color);
			}
		}

		&__list {
			&--item {
				position: relative;

				padding-left: rem(20);

				&::before {
					position: absolute;
					top: 0;
					left: 0;

					content: '+';

					color: var(--primary-color);

					font-size: rem(20);
					font-weight: 700;
					line-height: 100%;
				}

				&:not(:last-child) {
					margin-bottom: rem(25);
				}
			}
		}

		// .item-advantages__text
		&__text {
			color: var(--Color-7, #636878);

			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;

			@media (max-width: 767.98px) {
				font-size: rem(16);
			}
		}
	}

	.benefits {
		padding-top: rem(160);
		padding-bottom: rem(120);

		// .benefits__container
		&__container {
		}

		// .benefits__title
		&__title {
			margin-bottom: rem(60);

			@media (max-width: 767.98px) {
				margin-bottom: rem(40);
			}
		}

		// .benefits__list
		&__list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: rem(35);

			@media (max-width: 767.98px) {
				grid-template-columns: 1fr;
			}
		}

		// .benefits__list--item
		&__list--item {
			position: relative;

			padding-left: rem(30);

			color: #000;

			font-size: rem(18);
			line-height: 155.556%;

			span {
				font-weight: 700;
			}

			&::before {
				position: absolute;
				top: 0;
				left: 0;

				content: '+';

				color: var(--primary-color);

				font-size: rem(20);
				font-weight: 700;
			}

			@media (max-width: 767.98px) {
				font-size: rem(16);
			}
		}

		@media (max-width: 767.98px) {
			padding-top: rem(80);
			padding-bottom: rem(60);
		}
	}

	.audit-banner {
		padding-bottom: rem(120);

		&__banner {
			position: relative;

			display: flex;
			justify-content: space-between;

			padding: rem(60) rem(200) rem(20) rem(0);

			border-radius: rem(20);
			background: var(--secondary-color);
			gap: rem(15);

			&::before {
				position: absolute;
				top: 50%;
				left: 0;

				width: rem(600);
				height: rem(600);

				content: '';
				transform: translate(-50%, -50%);

				border-radius: 50%;
				background: var(--white);

				@media (max-width: 991.98px) {
					display: none;
				}
			}

			@media (max-width: 1199.98px) {
				padding: rem(60) rem(60) rem(60) rem(0);
			}

			@media (max-width: 991.98px) {
				align-items: center;
				flex-direction: column;
				justify-content: center;

				padding: rem(60);
			}

			@media (max-width: 767.98px) {
				padding: rem(16) rem(16) rem(25);
			}
		}

		// .audit-banner__container
		&__container {
		}

		// .audit-banner__img
		&__img {
			z-index: 2;

			width: rem(460);

			// height: rem(460);
			height: 100%;

			img {
				width: 100%;
				height: 100%;
			}

			@media (max-width: 991.98px) {
				width: 100%;
				height: 100%;
			}
		}

		// .audit-banner__content
		&__content {
			position: relative;
			z-index: 2;

			width: 100%;
			max-width: rem(560);
		}

		// .audit-banner__title
		&__title {
			margin-bottom: rem(35);
		}

		// .audit-banner__list
		&__list {
		}

		// .audit-banner__list--item
		&__list--item {
			position: relative;

			margin-bottom: rem(35);
			padding-left: rem(20);

			color: var(--black-main-color, #292b32);

			font-size: rem(18);
			font-weight: 400;

			&::before {
				position: absolute;
				top: 0;
				left: 0;

				content: '•';

				font-size: rem(16);
			}
		}

		// .audit-banner__button
		&__button {
			width: 100%;
			max-width: rem(252);
			padding: rem(15);

			background: var(--black-main-color);

			&:hover {
				color: white;
				background: #636878;
			}

			@media (max-width: 767.98px) {
				max-width: 100%;
			}
		}

		@media (max-width: 767.98px) {
			padding-bottom: rem(60);
		}
	}

	.socials-links {
		max-width: rem(1920);
		margin: 0 auto;

		// .socials-links__slider
		&__slider {
			.swiper-wrapper {
				transition-timing-function: linear !important;
			}
		}

		// .socials-links__slide
		&__slide {
			display: flex;
			align-items: center;

			width: auto;
			padding: rem(25);

			cursor: pointer;
			transition: font-weight 0.3s ease 0s;

			border-radius: rem(20);
			background: var(--secondary-color, var(--secondary-color));
			filter: grayscale(100%);
			gap: rem(10);

			&:hover {
				font-weight: 700;

				filter: grayscale(0);

				.socials-links__slide--icon {
					scale: 1.4;
				}
			}
		}

		// .socials-links__slide--icon
		&__slide--icon {
			height: rem(30);

			transition: scale 0.3s ease 0s;

			svg {
				width: auto;
				height: 100%;
			}
		}

		// .socials-links__slide--title
		&__slide--title {
			// .socials-links__slide--title_red
			&_red {
				color: red;
			}
		}
	}

	.work-steps {
		&__container {
		}

		&__title {
			margin-bottom: rem(50);

			@media (max-width: 767.98px) {
				margin-bottom: rem(40);
			}
		}

		&__grid {
			display: grid;
			grid-template-columns: minmax(0, rem(370)) minmax(0, rem(370)) minmax(0, rem(511)) minmax(0, rem(230));
			grid-template-rows: repeat(2, minmax(rem(180), rem(180)));
			gap: rem(50);

			margin-bottom: rem(60);

			@media (max-width: 1199.98px) {
				gap: rem(15);
			}

			@media (max-width: 991.98px) {
				grid-template-columns: 100%;
				grid-template-rows: repeat(7, auto);
			}
		}

		&__item {
			display: flex;
			flex-direction: column;

			padding: rem(20);

			border-radius: rem(20);
			background-color: #f5f5f5;
			gap: rem(12);

			&-title {
				font-size: rem(18);
				font-weight: 600;
			}

			&-image {
				width: 100%;
				height: auto;
			}
		}

		// Раскладка
		&__item--1 {
			grid-column: 1 / 2;
			grid-row: 1 / 2;

			display: flex;
			align-items: center;
			flex-direction: row;

			padding-left: rem(60);

			background: var(--Color-4, #def5ff);

			img {
				width: 100%;
				max-width: 40%;
				height: auto;
			}

			@media (max-width: 1199.98px) {
				padding-left: rem(10);
			}

			@media (max-width: 991.98px) {
				grid-row: auto;
				grid-column: auto;

				justify-content: space-between;
			}
		}

		&__item--2 {
			position: relative;

			display: flex;
			flex-direction: column;
			justify-content: space-between;

			padding: rem(43) 0 0 rem(70);

			border-radius: rem(20) rem(20) 0;
			background-color: var(--secondary-color);
			grid-column: 2 / 3;
			grid-row: 1 / 3;

			img {
				width: 100%;
				max-width: rem(306);
				height: auto;
				max-height: rem(306);
			}

			&::after {
				position: absolute;
				z-index: 1;

				// right: 0;
				top: 3.5%;
				left: 99.9%;

				width: 19%;
				height: 50%;

				content: '';

				border-radius: rem(0) rem(20);
				background: var(--white);
			}

			&::before {
				position: absolute;

				// right: 0;
				bottom: 0;
				left: 100%;

				width: 20%;
				height: 50%;

				content: '';

				border-radius: 0 rem(35) rem(20) 0;
				background: var(--secondary-color);
			}

			@media (max-width: 991.98px) {
				align-items: center;
				flex-direction: row;

				padding: rem(20);
				grid-row: auto;
				grid-column: auto;

				&::after,
				&::before {
					display: none;
				}

				img {
					max-width: 50%;
				}
			}
		}

		&__item--3 {
			z-index: 2;

			display: flex;
			align-items: center;
			justify-content: center;

			background-color: var(--secondary-color);
			grid-column: 1 / 2;
			grid-row: 2 / 3;

			@media (max-width: 991.98px) {
				grid-row: 2/3;
				grid-column: auto;
			}
		}

		&__item--4 {
			z-index: 2;

			display: flex;
			align-items: center;
			flex-direction: row;
			justify-content: space-between;

			width: 100%;
			padding: rem(16) rem(20) rem(16) rem(58);

			background-color: #eaf8ff;
			grid-column: 3 / 4;
			grid-row: 1 / 2;
			gap: rem(20);

			img {
				width: 100%;
				max-width: 30%;
				height: auto;
				max-height: rem(143);
				object-fit: fill;
			}

			@media (max-width: 1199.98px) {
				padding-left: rem(10);
			}

			@media (max-width: 991.98px) {
				grid-row: 3/4;
				grid-column: auto;

				img {
					object-fit: contain;
				}
			}
		}

		&__item--5 {
			z-index: 2;

			display: flex;
			align-items: center;
			justify-content: center;

			height: 75%;

			text-align: center;

			background-color: var(--secondary-color);
			grid-column: 4 / 5;
			grid-row: 1 / 2;

			@media (max-width: 991.98px) {
				grid-row: auto;
				grid-column: auto;

				height: 100%;
			}
		}

		&__item--6 {
			position: relative;
			z-index: 2;

			display: flex;
			align-items: center;
			justify-content: center;

			// margin-left: rem(80);
			margin-left: 17%;

			background-color: #eaf8ff;
			grid-column: 3 / 4;
			grid-row: 2 / 3;

			img {
				position: absolute;
				top: 50%;
				left: 50%;

				width: 100%;
				max-width: rem(250);
				height: 100%;

				transform: translate(-50%, -50%);
			}

			@media (max-width: 991.98px) {
				height: rem(120);
				margin-left: 0;
				grid-row: 5/6;
				grid-column: auto;

				img {
					height: 120%;
				}
			}
		}

		&__item--7 {
			flex-direction: column-reverse;

			height: 125%;

			transform: translateY(-20%);

			background-color: #eaf8ff;
			grid-column: 4 / 5;
			grid-row: 2 / 3;

			img {
				width: 100%;
				max-width: rem(146);
				height: 100%;
				max-height: rem(146);
			}

			@media (max-width: 991.98px) {
				align-items: center;
				flex-direction: row;
				justify-content: space-between;

				height: 100%;

				transform: translateY(0);
				grid-row: auto;
				grid-column: auto;
			}
		}

		&__button {
			width: 100%;
			padding: rem(19);
		}
	}

	.targets {
		padding-top: rem(120);
		padding-bottom: rem(120);

		// .targets__container
		&__container {
		}

		// .targets__title
		&__title {
			margin-bottom: rem(55);

			@media (max-width: 767.98px) {
				margin-bottom: rem(40);
			}
		}

		// .targets__grid
		&__grid {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap: rem(50);

			&::-webkit-scrollbar {
				display: none;
			}

			@media (max-width: 767.98px) {
				// grid-template-columns: 100%;
				display: flex;
				overflow: scroll;
				scrollbar-width: none;
				gap: rem(20);

				-ms-overflow-style: none;
			}
		}

		// .targets__item
		&__item {
			padding: rem(70) rem(60);

			border-radius: rem(20);
			background: var(--Color-9, #f3f4f5);

			&:nth-child(1) {
				grid-column: 1 / span 3;

				@media (max-width: 767.98px) {
					grid-column: span 1;
				}
			}

			&:nth-child(2) {
				grid-column: 4 / span 3;

				@media (max-width: 767.98px) {
					grid-column: span 1;
				}
			}

			&:nth-child(3),
			&:nth-child(4),
			&:nth-child(5) {
				grid-column: span 2;

				.targets__item--img {
					img {
						display: block;

						width: 100%;
						height: auto;
						object-fit: cover;
					}
				}

				@media (max-width: 767.98px) {
					grid-column: span 1;
				}
			}

			&:nth-child(3),
			&:nth-child(5) {
				.targets__item--img {
					margin-bottom: 0;
				}

				.targets__item--text {
					margin-bottom: rem(30);
				}
			}

			@media (max-width: 1199.98px) {
				padding: rem(30) rem(20);
			}

			@media (max-width: 767.98px) {
				flex-shrink: 0;

				width: rem(280);
			}
		}

		// .targets__item--img
		&__item--img {
			margin-bottom: rem(60);

			img {
				width: 100%;

				height: auto;
				max-height: rem(260);
				object-fit: contain;
			}

			// max-height: rem(260);
			@media (max-width: 767.98px) {
				margin-bottom: rem(20);
			}
		}

		// .targets__item--title
		&__item--title {
			margin-bottom: rem(30);

			color: var(--black-main-color, #292b32);

			font-size: rem(28);
			font-weight: 700;
			line-height: 128.571%;

			@media (max-width: 1199.98px) {
				font-size: rem(20);
			}
		}

		// .targets__item--text
		&__item--text {
			color: var(--Color-7, #636878);

			font-size: rem(18);
			font-weight: 400;
			line-height: 155.556%;

			@media (max-width: 1199.98px) {
				font-size: rem(16);
			}
		}

		@media (max-width: 767.98px) {
			padding-top: rem(60);
			padding-bottom: rem(60);
		}
	}

	.price {
		position: relative;

		overflow: hidden;

		padding: rem(140) 0;

		transition: background-color 0.3s ease 0s;

		background-color: var(--primary-color);
		background-image: none;

		&:hover {
			background-color: var(--secondary-color);

			.price__title {
				transition: color 0.3s ease 0s;

				color: var(--black-main-color);

				span {
					transition: color 0.3s ease 0s;

					color: var(--primary-color);
				}
			}

			.price__decor {
				transform: translate(55%, -73%) scale(1.7) rotate(-20deg);

				&--star {
					opacity: 0;
				}

				&--line {
					&_main {
						opacity: 0;
					}

					&_hover {
						opacity: 1;
					}
				}
			}
		}

		// .price__container
		&__container {
			display: grid;
			grid-template-columns: auto auto;
			gap: rem(15);

			@media (max-width: 991.98px) {
				align-items: center;
				justify-content: center;
				grid-template-columns: 1fr;
			}
		}

		// .price__title
		&__title {
			position: relative;
			z-index: 3;

			color: var(--white, #fff);

			span {
				color: var(--secondary-color);
			}
		}

		// .price__banner
		&__banner {
			position: relative;
			z-index: 3;
		}

		// .price__decor
		&__decor {
			position: absolute;
			top: 0;
			left: 0;

			width: 100%;
			height: 100%;

			transition: transform 0.4s ease-in-out 0s;
		}

		// .price__decor--line
		&__decor--line {
			position: absolute;
			z-index: 1;
			bottom: 0;
			left: 0;

			width: rem(847.203);
			height: rem(864.975);

			transform: translateY(50%) rotate(20deg);

			// .price__decor--line_main
			&_main {
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;

				transition: opacity 0.3s ease 0s;
			}

			// .price__decor--line_hover
			&_hover {
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;

				transition: opacity 0.3s ease 0s;

				opacity: 0;
			}
		}

		// .price__decor--rocket
		&__decor--rocket {
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;

			transform: rotate(-10deg) translateX(-50%);

			img {
				position: relative;
				z-index: 2;
			}
		}

		// .price__decor--star
		&__decor--star {
			position: absolute;
			z-index: 0;
			top: 50%;
			left: 50%;

			transition: opacity 0.3s ease 0s;
			transform: translate(-50%, -50%);
		}

		@media (max-width: 767.98px) {
			padding: rem(65) 0;
		}
	}

	.title {
	}

	.banner-price {
		display: grid;

		width: 100%;
		max-width: rem(787);
		padding: rem(70) rem(37) rem(70) rem(86);

		border-radius: rem(20);
		background: var(--white);
		grid-template-columns: repeat(2, 1fr);
		gap: rem(30);

		// .banner-price__left
		&__left {
		}

		// .banner-price__title
		&__title {
			margin-bottom: rem(15);

			color: var(--black-main-color, #292b32);

			font-size: rem(16);
			font-weight: 700;
		}

		&__price {
			margin-bottom: rem(15);

			color: var(--primary-color, #00b2ff);

			font-size: rem(36);
			font-weight: 700;
		}

		// .banner-price__descr
		&__descr {
			color: var(--Color-7, #636878);

			font-size: rem(14);
			font-weight: 400;
			line-height: 142.857%;
		}

		// .banner-price__right
		&__right {
			display: flex;
			flex-direction: column;

			width: 100%;
		}

		// .banner-price__list--title
		&__list--title {
			margin-bottom: rem(25);

			color: var(--Color-7, #636878);

			font-size: rem(14);
			font-weight: 700;
		}

		// .banner-price__list
		&__list {
			margin-bottom: rem(0);
		}

		// .banner-price__list-item
		&__list-item {
			position: relative;

			margin-bottom: rem(15);
			padding-left: rem(17);

			&::before {
				position: absolute;
				top: 0;
				left: 0;

				content: '\2022';

				font-weight: 400;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		// .banner-price__button
		&__button {
			width: 100%;
			max-width: rem(231);
			margin-top: auto;
			margin-bottom: rem(25);
			padding: rem(15) 0;

			@media (max-width: 767.98px) {
				max-width: 100%;
			}
		}

		// .banner-price__link
		&__link {
			display: block;

			cursor: pointer;

			color: var(--Color-2, #71d5ff);

			font-size: rem(14);
			font-weight: 400;
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: none;
			text-decoration-thickness: auto;
			text-underline-offset: auto;
			text-underline-position: from-font;

			@media (max-width: 767.98px) {
				text-align: center;
			}
		}

		@media (max-width: 1199.98px) {
			padding: rem(40) rem(30) rem(40) rem(40);
		}

		@media (max-width: 767.98px) {
			grid-template-columns: 1fr;

			padding: rem(20);
		}
	}
}
